body {
    background-color: rgb(68, 68, 68);
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  /* -----------------Top header/main page--------------------*/
  
  #home {
    background-image: url(images/background.jpeg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
  }
  
  .container {
    padding: 0.6rem 10%;
  }
  
  .logo {
    max-width: 5rem;
    height: auto;
  }
  
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  nav ul li {
    display: inline-block;
    list-style: none;
    margin: 0.1rem 0.8rem;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    position: relative;
  }
  
  nav ul li a::after {
    content: "";
    width: 0;
    height: 0.2rem;
    background: palevioletred;
    position: absolute;
    left: 0;
    bottom: -0.4rem;
    transition: 0.3s;
  }
  
  nav ul li a:hover::after {
    width: 100%;
  }
  
  .beginning-stuff {
    color: white;
    margin: 20%;
    font-size: 1.4rem;
  }
  
  .beginning-stuff h1 {
    font-size: 2.8rem;
    margin-top: 1rem;
  }
  
  /* -----------------about me--------------------*/
  
  #about-me {
    padding: 5rem 0;
    color: whitesmoke;
  }
  
  .row {
    display: flex;
    justify-content: space-between;
    justify-content: wrap;
  }
  
  .about-me-left {
    flex-basis: 35%;
    font-family: "Rubik Iso", cursive;
  }
  
  .about-me-left img {
    width: 100%;
  }
  
  .about-me-right {
    flex-basis: 60%;
  }
  
  .title {
    font-size: 3.5rem;
    font-weight: 600;
    color: wheat;
  }
  
  .squirtle {
    max-width: 20rem;
    height: auto;
  }
  
  /* -----------------tabs--------------------*/
  
  .tabs {
    display: flex;
    flex-wrap: wrap;
    max-width: 25rem;
    margin: 1.25rem 0rem 2.5rem;
  }
  
  .tabs__label {
    padding: 0.5rem 1rem;
    cursor: pointer;
  }
  
  .tabs__radio {
    display: none;
  }
  
  .tabs__content {
    order: 1;
    width: 100%;
    line-height: 1.5;
    font-size: 0.9rem;
    display: none;
  }
  
  .tabs__radio:checked + .tabs__label {
    font-weight: bold;
    color: rgb(173, 90, 118);
    border-bottom: 0.2rem solid rgb(173, 90, 118);
  }
  
  .tabs__radio:checked + .tabs__label + .tabs__content {
    display: block;
  }
  
  .tabs__content ul li {
    list-style: none;
    margin: 0.6rem 0rem;
  }
  
  .tabs__content ul li span {
    color: rgb(173, 90, 118);
    font-size: 0.8rem;
  }
  
  /* -----------------Contacts--------------------*/
  
  #contact {
    color: whitesmoke;
  }
  
  .icons {
    max-width: 3rem;
    height: auto;
    padding: 0.2rem;
  }
  
  .contact-left {
    flex-basis: 35%;
  }
  
  .contact-right {
    flex-basis: 60%;
  }
  
  .contact-left p {
    margin-top: 2rem;
  }
  
  .media-icons a {
    text-decoration: none;
    font-size: 2rem;
    margin-right: 0.2rem;
    color: snow;
    display: inline-block;
    transition: transform 0.5s;
  }
  
  .media-icons a:hover {
    color: blueviolet;
    transform: translateY(-0.5rem);
  }
  
  .button {
    display: inline-block;
    background-color: pink;
    color: #000;
    size: 15rem;
  }
  
  .contact-right form {
    width: 100%;
  }
  
  form input,
  form textarea {
    width: 100%;
    border: 0;
    outline: none;
    padding: 1rem;
    background-color: beige;
    margin: 1rem 0rem;
    font-size: 1.25rem;
    border-radius: 0.5rem;
  }
  
  form button {
    padding: 1rem;
    font-size: 1.25rem;
    margin-top: 1.5rem;
    cursor: pointer;
  }
  
  /* -----------------Ending--------------------*/
  
  .ending {
    width: 100%;
    text-align: center;
    padding: 0.5rem 0rem;
    background-color: rgb(197, 195, 195);
    font-weight: 300;
    margin-top: 1rem;
  }
  